#root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  max-height: calc(100% - 70px);
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
