* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* navbar */
.navbar {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  min-height: 70px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
